<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'assets', :plugin => 'redmine_app_tracker' %>
<% end %>

<% unless @job_applications.nil? || @job_applications.empty? %>
    <p></p>
	<h3>Results - <%= @job_applications.length %></h3>
	
	<p>	
	  <% form_tag({ :action =>  :export_filtered_to_csv }, :html => { :multipart => true })do -%>
	    <%= hidden_field_tag :job_id, @job.id %>
		<% @job_applications.each do |ja| %>
	      <%= hidden_field_tag "job_app_ids[]", ja.id %>
	    <% end %>
	    <%= submit_tag "Export Filtered Results To CSV" -%>
	  <% end -%>
	</p>
	<p>
	  <%= button_to 'Zip Materials for Filtered Results Into Single Folder', zip_filtered_single_jobs_path(:job_id => @job.id, :job_applications => @job_applications) %>
	</p>
	<p>
	  <%= button_to 'Zip Materials for Filtered Results Into Folders by Applicant', zip_filtered_jobs_path(:job_id => @job.id, :job_applications => @job_applications) %>
	</p>
	<p>* When clicking on "View" below, application will open in a new tab/window to preserve filtered search.</p>
	<table id="list_table">
	  <thead class="list_table-first">
	    <tr>
		  <th style="text-align:left;">View Application</th>
		  <% @columns.each do |column| %>
		    <th style="text-align:left;"><%= column %></th>
		  <% end %>
		  <% unless @job.application_material_types.nil? || @job.application_material_types.empty?%>
		    <% @job.application_material_types.split(',').each do |amt| %>
			  <th style="text-align:left;"><%= amt %></th>
			<% end %>  
		  <% end %>	
		  <th style="text-align:left;">Additional Materials</th>
	    </tr>	
	  </thead>
	  <tbody>
		<% @job_applications.each do |ja| %>
		<tr>
		  <td><h3><%= link_to "View", job_application_path(ja, :apptracker_id => @apptracker.id), {:title => "Application will open in new tab/window.", :target => "_blank"} %></h3></td>	
		  
		    <% @applicant_fields.each do |af| %>
	          <td><%= ja.applicant.send(af) %></td>
	        <% end %>
		    <% @custom.each do |c| %>
			  <% if ja.submission_status == "Not Submitted" %>
			    <td></td>
			  <% else %>
			    <% ja.custom_values.each do |cv| %>
			      <% if cv.custom_field.name == c %>
					<% if show_value(cv).blank? || show_value(cv).empty? %>
			          <td></td>
					<% else %>
					  <td><%= show_value(cv) %></td>
					<% end %>
				  <% end %>
				<% end %>
			  <% end %>
			<% end %>
			<% referrals = ja.job_application_referrals.find :all, :include => [:attachments] %>
    		<% if referrals.empty? %>
			  <% @referral_fields_cols.each do |rfc| %>
				<td></td>
	    	  <% end %>
			<% else %>
			  <% referrals.each do |r| %>
	    	    <% @referral_fields.each do |rf| %>
				  <td><%= r.send(rf) %></td>
	    		<% end %>
				<td><%= link_to_attachments r %></td>
	  		  <% end %>
			<% end %>
  		  <% if referrals.length < @job.referrer_count.to_i %>
  		    <% leftover =  @job.referrer_count.to_i - referrals.length %>
    	        <% i = 0 %>
  			<% until i == leftover  do %>
  			  <% @referral_fields.each do |rf| %>
  		        <td></td>
    		      <% end %>
  		      <td></td>
  			  <% i += 1 %>
  			<% end %>  
  		  <% end %>
			<% @statuses.each do |s| %>
		      <td><%= ja.send(s) %></td>
		    <% end %>
		    <% @job_application_materials = ja.job_application_materials.find :all, :include => [:attachments] %>
			
  		    <% unless @job_application_materials.nil? || @job_application_materials.blank? %>
  	    	  <% @job.application_material_types.split(',').each do |amt| %>
  			    <% @job_application_materials.each do |jam| %>
    			  <% material = Attachment.find(:all, :conditions => {:container_id => jam.id, :description => amt})%>
    			  <td><%= render :partial => 'attachments/links', :locals => {:attachments => material, :options => {}} %></td>
  		        <% end %>
  			  <% end %>
			  <% @job_application_materials.each do |jam| %>
  			    <% material = Attachment.find(:all, :conditions => ["container_id = ? and description LIKE 'Additional:%'", jam.id])%>
  			    <td><%= render :partial => 'attachments/links', :locals => {:attachments => material, :options => {}} %></td>
		      <% end %>
  		    <% end %>
		</tr>
		<% end %>
	  </tbody>
	</table>
<% else %>
  <p>No applications found.	</p>
<% end %>