<% flash[:notice] %>
<div class="contextual">
  <%= link_to 'Back', job_url(params[:job_id], :apptracker_id => params[:apptracker_id]), :class => 'icon icon-history' %>
</div>
<h2><%=h @job.apptracker.title %>: Jobs: <em><%= @job.title %></em></h2>

<%= render :partial => "shared/tabs" %>

<h3>Filter Job Applications by Status</h3>
<p>The filter will be applied to all applications that match <strong>any</strong> of the options you choose.</p>

<% form_tag({:controller => 'jobs', :action => 'filter_by_status'}) do %>
  <%= hidden_field_tag :job_id, @job.id %>
  <%= hidden_field_tag :apptracker_id, @apptracker.id %>
  <p>
    <%= label_tag(:submission_status, "Submission Status") %><br />
    <%= select_tag(:submission_status, options_for_select(JobApplication::SUBMISSION_STATUS)) %>
  </p>
  <p>
    <%= label_tag(:review_status, "Review Status") %><br />
    <%= select_tag(:review_status, options_for_select(JobApplication::REVIEW_STATUS)) %>
  </p>
  <p>
    <%= label_tag(:offer_status, "Offer Status") %><br />
    <%= select_tag(:offer_status, options_for_select(JobApplication::OFFER_STATUS)) %>
  </p>

  <% @applicant_fields.each do |af| %>
	<p>
	  <%= label_tag("#{af}", "#{af}") %><br />
	  <%= text_field_tag("#{af}") %>
	</p>
  <% end %>

  <%= submit_tag "Filter" -%>
<% end %>

<%= render :partial => "list_job_applications", :locals => { :job_applications => @job_applications, :job => @job, :columns => @columns, :applicant_fields => @applicant_fields, :custom => @custom, :referral_fields => @referral_fields, :statuses => @statuses, :apptracker => @apptracker } %>