<% flash[:notice] %>
<div class="contextual">
  <%= link_to 'Back', job_url(params[:job_id], :apptracker_id => params[:apptracker_id]), :class => 'icon icon-history' %>
</div>
<h2><%=h @job.apptracker.title %>: Jobs: <em><%= @job.title %></em></h2>

<%= render :partial => "shared/tabs" %>

<h3>Filter Job Applications by Application Fields</h3>
<p>The filter will be applied to all applications that match <strong>all</strong> of the options you choose.</p>

<% form_tag({:controller => 'jobs', :action => 'filter'}) do %>
  <% job_fields = @job_application_custom_fields.collect {|x| x.id} %>
  <%= hidden_field_tag :job_id, @job.id %>
  <%= hidden_field_tag :apptracker_id, @apptracker.id %>
  <% unless job_fields.nil? || job_fields.empty? %>
    <% @job_application.custom_field_values.each do |value| %>
	  <% if job_fields.include? value.custom_field_id %>
		<p><%= custom_field_tag_with_label :filter, value %></p>
	  <% end %>
    <% end -%>
  <% end %>
  <%= submit_tag "Filter" -%>
<% end %>

<%= render :partial => "list_job_applications", :locals => { :job_applications => @job_applications, :job => @job, :columns => @columns, :applicant_fields => @applicant_fields, :custom => @custom, :referral_fields => @referral_fields, :statuses => @statuses, :apptracker => @apptracker } %>

