<% flash[:notice] %>
<div class="contextual">
  <%= link_to 'Back', job_url(params[:job_id], :apptracker_id => params[:apptracker_id]), :class => 'icon icon-history' %>
</div>
<h2><%=h @job.apptracker.title %>: Jobs: <em><%= @job.title %></em></h2>

<%= render :partial => "shared/tabs" %>

<% form_tag({:controller => 'jobs', :action => 'filter'}) do %>
  <% job_fields = @job_application_custom_fields.collect {|x| x.id} %>
  <%= hidden_field_tag :job_id, @job.id %>
  <%= hidden_field_tag :apptracker_id, @apptracker.id %>
  <% unless job_fields.nil? || job_fields.empty? %>
    <h3>Search Applications</h3>
    <% @job_application.custom_field_values.each do |value| %>
	  <% if job_fields.include? value.custom_field_id %>
		<p><%= custom_field_tag_with_label :filter, value %></p>
	  <% end %>
    <% end -%>
  <% end %>
  <%= submit_tag "Filter" -%>
<% end %>

<% unless @job_applications.nil? || @job_applications.empty? %>
	<p></p>
	<p>
	  <%= button_to 'Zip Materials for Filtered Results Into Single Folder', zip_filtered_single_jobs_path(:job_id => @job.id, :job_applications => @job_applications) %>
	</p>
	<p>
	  <%= button_to 'Zip Materials for Filtered Results Into Folders by Applicant', zip_filtered_jobs_path(:job_id => @job.id, :job_applications => @job_applications) %>
	</p>
	<h3>Results - <%= @job_applications.length %></h3>
	<table class="list">
	  <thead>
	    <tr>
		  <th style="text-align:left;"></th>
		  <% @columns.each do |column| %>
		    <th style="text-align:left;"><%= column %></th>
		  <% end %>
	    </tr>	
	  </thead>
	  <tbody>
		<% @job_applications.each do |ja| %>
		<tr>
		  <td><%= link_to "View", job_application_path(ja, :apptracker_id => @apptracker.id) %></td>	
		  <% @applicant_fields.each do |af| %>
	        <td><%= ja.applicant.send(af) %></td>
	      <% end %>
		  <% @custom.each do |c| %>
		    <% ja.custom_values.each do |cv| %>
		      <% if cv.custom_field.name == c %>
		        <td><%= show_value(cv) %></td>
			  <% end %>
		    <% end %>
		  <% end %>
		</tr>
		<% end %>
	  </tbody>
	</table>
<% else %>
  <p>No applications found.	</p>
<% end %>