<h2>Job Application Referrals</h2>

<%= render :partial => "shared/tabs" %>

<% i = 0 %>
  <% until i == @job.referrer_count.to_i %>
    <span class="required">*</span> Required Fields
	<% form_for(@job_application_referral, :html => {:multipart => true}) do |jar| %>
	  <%= jar.error_messages %>
	  <%= jar.hidden_field(:job_application_id, :value => @job_application.id ) %>
	  		<p>
	  		<%= jar.label(:first_name) %><span class="required">*</span><br />
	  		<%= jar.text_field(:first_name) %>
	  		</p>
			<p>
			<%= jar.label(:last_name) %><span class="required">*</span><br />
	    	<%= jar.text_field(:last_name) %>
			</p>
			<p>
		    <%= jar.label(:title) %><span class="required">*</span><br />
		    <%= jar.text_field(:title) %>
		    </p>
			<p>
		    <%= jar.label(:affiliation) %><span class="required">*</span><br />
		    <%= jar.text_field(:affiliation) %>
	  		</p>
			<p>
		    <%= jar.label(:relationship) %><span class="required">*</span><br />
		    <%= jar.text_field(:relationship) %>
	  		</p>
			<p>
		    <%= jar.label(:email) %><span class="required">*</span><br />
		    <%= jar.text_field(:email) %>
	  		</p>
		    <p>
		    <%= jar.label(:phone) %><br />
		    <%= jar.text_field(:phone) %>
		    </p>

	  <p>
	    <%= jar.submit('Save') %>
	  </p>
	<% end %>
    <% i += 1 %>
  <% end %>