<% flash[:notice] %>


<h2><%=h Apptracker.find(@job_application.apptracker_id).title %>: <%=h Job.find(@job_application.job_id).title %> </h2> 

<%= render :partial => "shared/tabs" %>

<p>	
<% if (@job_application.job.submission_date > DateTime.now && User.current.mail == @applicant.email) %>
  <%= link_to 'Edit Application', edit_job_application_url(@job_application.id, :apptracker_id => params[:apptracker_id]), :class => 'icon icon-edit' %><br /><br />
<% elsif User.current.admin? || @job_application.job.is_manager? %>
  <%= link_to 'Edit Application and Add Notes/Comments', edit_job_application_url(@job_application.id, :apptracker_id => params[:apptracker_id]), :class => 'icon icon-edit' %><br /><br />
<% end %>
Job Title: <%= link_to Job.find(@job_application.job_id).title, job_path(@job_application.job_id, :apptracker_id => @job_application.apptracker_id) %><br />

<%= render :partial => 'applicant_info', :locals => { :applicant => @applicant } %>

  <h3>Additional Information</h3>
  <% @job_application.custom_values.each do |custom_value| %>
	<% if !custom_value.value.blank? %>
	  <p><%= custom_value.custom_field.name%>: <%=h show_value(custom_value) %></p>
	<% end %>
  <% end -%>


<p>Submission Status: <%=h @job_application.submission_status %></p>

<h3>Job Application Attachments</h3>
<% unless @job_application_materials.nil? || @job_application_materials.blank? %>
  <% @job_application_materials.each do |jam| %>
    <%= link_to_attachments jam %><br />
  <% end %>  
<% else %>
  No attachments.
<% end %>
<br />
<% unless @job_application.job.referrer_count == "0" %>
	<h3>Job Application Referrals</h3>
	<% if User.current.admin?  || @job_application.job.is_manager? %>
		<% unless @job_application_referrals.nil? || @job_application_referrals.blank? %>
		  <% @job_application_referrals.each do |jar| %>
		    <p>
		      Name: <%= jar.first_name %> <%= jar.last_name %><br />
		      Email: <%= jar.email %><br />
			  Phone: <%= jar.phone %><br />
		      Title: <%= jar.title %><br />
			  Affiliation: <%= jar.affiliation %><br />
			  Relationship: <%= jar.relationship %><br />
			  Referral Text: <%= jar.referral_text %><br />
		      Notes: <%= jar.notes %><br />
		      <%= link_to_attachments jar %>
		    </p>
			<% if User.current.admin? %>
			  <p>
				  <%= link_to 'Edit/Upload Referral', edit_job_application_referral_url(jar.id, :job_app_id => @job_application.id, :apptracker_id => @job_application.apptracker_id), {:class => 'icon icon-edit', :target => "_blank"} %> | 
				  <%= link_to 'DELETE Referral', job_application_referral_url(:id => jar.id), :confirm => "Are you sure you want to delete this referral?", :method => :delete, :class => 'icon icon-del' %>
			  </p>  
			<% end %>	  
		  <% end %>
		<% else %>
		  No referrals.
		<% end %>
		</p>
		<br />
	
		<h3>Admin Notes</h3>
	  	<p><%= @job_application.notes %></p>
	<% else %>
	    <p>Referrals Submitted: <%= @job_application.job_application_referrals.all.empty? ? 0 : @job_application.job_application_referrals.all.length %></p>
	<% end %>
<% end %>

<br /><br />
