<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'assets', :plugin => 'redmine_app_tracker' %>
<% end %>

<% flash[:notice] %>
<div class="contextual">
  <%= link_to 'Back', job_url(params[:job_id], :apptracker_id => params[:apptracker_id]), :class => 'icon icon-history' %>
</div>
<h2><%=h @job.apptracker.title %>: Jobs: <em><%= @job.title %></em></h2>

<% unless @job_applications.nil? %>
	<p></p>
	<h3>Submitted Applications - Total <%= @job_applications.length %></h3>
	<table id="list_table">
	  <thead class="list_table-first">
	    <tr>
		  <th style="text-align:left;">View Application</th>
		  <% @columns.each do |column| %>
		    <th style="text-align:left;"><%= column %></th>
		  <% end %>
		  <% unless @job.application_material_types.nil? || @job.application_material_types.empty?%>
		    <% @job.application_material_types.split(',').each do |amt| %>
			  <th style="text-align:left;"><%= amt %></th>
			<% end %>  
		  <% end %>	
	    </tr>	
	  </thead>
	  <tbody>
		<% @job_applications.each do |ja| %>
		<tr>
		  <td><h3><%= link_to "View", job_application_path(ja) %></h3></td>	
		  <% @applicant_fields.each do |af| %>
	        <td><%= ja.applicant.send(af) %></td>
	      <% end %>
		  <% @custom.each do |c| %>
		    <% if ja.submission_status == "Not Submitted" %>
		      <td></td>
			<% else %>
		      <% ja.custom_values.each do |cv| %>
		        <% if cv.custom_field.name == c %>
				  <% if show_value(cv).blank? || show_value(cv).empty? %>
		            <td></td>
				  <% else %>
				    <td><%= show_value(cv) %></td>
				  <% end %>
			    <% end %>
			  <% end %>
		    <% end %>
		  <% end %>
		  <% referrals = ja.job_application_referrals.find :all, :include => [:attachments] %>
  		  <% if referrals.empty? %>
		    <% @referral_fields_cols.each do |rfc| %>
			  <td></td>
    		<% end %>
		  <% else %>
		    <% referrals.each do |r| %>
    	      <% @referral_fields.each do |rf| %>
			    <td><%= r.send(rf) %></td>
    		  <% end %>
			  <td><%= link_to_attachments r %></td>
  		    <% end %>
		  <% end %>	
		  <% @statuses.each do |s| %>
		    <td><%= ja.send(s) %></td>
		  <% end %>
		  <% @job_application_materials = ja.job_application_materials.find :all, :include => [:attachments] %>
		  
		  <% unless @job_application_materials.nil? || @job_application_materials.blank? %>
	    	<% @job.application_material_types.split(',').each do |amt| %>
			  <% @job_application_materials.each do |jam| %>
  			    <% material = Attachment.find(:all, :conditions => {:container_id => jam.id, :description => amt})%>
  			    <td><%= render :partial => 'attachments/links', :locals => {:attachments => material, :options => {}} %></td>
		      <% end %>
			<% end %>
		  <% end %>
		  
		<% end %>
	  </tbody>
	</table>
<% end %>